.primary-font {
	font-family: 'Norse', sans-serif !important;
}

.secondary-font {
	font-family: 'Elegant', sans-serif !important;
}

.third-font {
	font-family: 'Futhark', sans-serif !important;
}

@each $color, $value in $colors {
	.bg-#{$color} {
		background-color: $value !important;
	}
	.text-#{$color} {
		color: $value !important;
	}
}


