.primary-font {
	font-family: 'Norse', sans-serif;
}

.secondary-font {
	font-family: 'BebasNeueBook', sans-serif;
}

@each $color, $value in $colors {
	.bg-#{$color} {
		background-color: $value !important;
	}
	.text-#{$color} {
		color: $value !important;
	}
}


