.primary-font {
	font-family: 'Lato', sans-serif !important;
}

.secondary-font {
	font-family: 'Francois One', sans-serif !important;
}

@each $color, $value in $colors {
	.bg-#{$color} {
		background-color: $value !important;
	}
	.text-#{$color} {
		color: $value !important;
	}
}

.svg {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

@for $i from 1 through 6 {
	h#{$i} {
		@extend .font-weight-bold;
	}
}

.nav-logo {
	width: 8rem;
}
