.ssa-logo {
	.st0 {
		fill: #C0CE47;
	}
	
	.st1 {
		display: none;
	}
	
	.st2 {
		display: inline;
	}
	
	.st3 {
		display: inline;
		fill: #FFFFFF;
	}
	
	.st4 {
		display: inline;
		fill: #C0CE47;
	}
	
	.st5 {
		fill: #FFFFFF;
	}
}
