$black: #000;
$blue-dark: #1f3040;
$dark: #213341;

$colors: (
	black: $black,
	blue-dark: $blue-dark,
	dark: $dark
);

$aside-index: 100000;
$slider-index: 1000;

$responsive-font-sizes: (
	xl: 3rem,
	lg: 2.7rem,
	md: 2.4rem,
	sm: 1.8rem,
	xs: 1.2rem
);

$enable-responsive-font-sizes: true;
$link-hover-decoration: none;
$emphasized-link-hover-darken-percentage: 30%;
